.page_handle {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .next, .previous {
    width: 100px;
    height: 40px;
    background-color: #007bff; 
    color: #fff;
  }
  
  .next:disabled, .previous:disabled {
    background-color: #ccc; 
    color: #666; 
  }
  
  .showPageNumber {
    font-size: 18px; 
    margin: 0 10px; 
  }
  
  button {
    margin: 5px;
  }
  